body {
    font-family: 'CAFE FRANCOIS', sans-serif; /* Change font family */
    margin: 0;
    padding: 0;
}
nav {
    background-color: #FA7070;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    font-size: 24px;
}

.order-online,
.cart {
    position: relative;
}

.order-online a,
.cart a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

.order-online a:hover,
.cart a:hover {
    background-color: #c25f5f;
}

.cart img {
    width: 24px;
    height: 24px;
}

.order-online {
    margin-right: auto; /* Pushes the "Order Online" button to the right */
}

section {
    padding: 20px;
}

h1 {
    margin-top: 0;
}

/* Style for the order button container */
.order-button {
	position: relative;
	display: inline-block;
	border-radius: 20px;
	overflow: hidden;
	margin: auto; /* Add this line */
}


.order-button:hover {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add shadow on hover */
}
.order-button:hover .overlay {
	background-color: rgba(0, 0, 0, 0.7); /* Darken overlay on hover */
}

/* Style for the food image */
.order-button img {
    width: 100%;
    height: auto;
    display: block;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

/* Style for the text overlay */
.order-button .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    color: white;
    font-size: 20px;
    padding: 10px;
    box-sizing: border-box;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
}
