.slider-container {
    background-color: #87A922;
    max-width: auto; /* Adjust width as needed */
    margin: auto;
    height: 100vh;
  }
  
/* .slick-dots {
      display: none !important;
    } */

.slick-slide img {
    width: auto;
    height: 50vh;
    margin: auto;
    margin-top: 20vh;
    margin-bottom: 20vh;
  }  